<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <netHttpBinding>
        <binding name="strHttp" transferMode="Streamed" maxReceivedMessageSize="200000000"/>
      </netHttpBinding>
      <netTcpBinding>
        <binding name="strTcp" transferMode="Streamed" portSharingEnabled="true" maxReceivedMessageSize="200000000"/>
      </netTcpBinding>
    </bindings>-->
    <protocolMapping>
      <add scheme="http" binding="netHttpBinding"/>
      <add scheme="net.tcp" binding="netTcpBinding"/>
    </protocolMapping>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    <services>
      <!--<service name="NorthwindServiceLibrary.Services.CategoryService">
        <endpoint address="catTcp.svc" binding="netTcpBinding" contract="NorthwindServiceLibrary.Contracts.ICategoryService" bindingConfiguration="strTcp"/>
      </service>-->
    </services>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="NorthwindServiceLibrary.Services.OrderService" relativeAddress="Orders.svc" factory="NorthwindServiceFactories.OrderServiceHostFactory"/>
        <add service="NorthwindServiceLibrary.Services.CategoryService" relativeAddress="Categories.svc" factory="NorthwindServiceFactories.CategoryServiceHostFactory"/>
        <add service="NorthwindServiceLibrary.Services.ProductService" relativeAddress="Products.svc" factory="NorthwindServiceFactories.ProductServiceHostFactory"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>-->
  <connectionStrings>
    <add name="Northwind" connectionString="data source=.;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
