<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
            <netHttpBinding>
                <binding name="NetHttpBinding_IOrderService" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text">
                    <webSocketSettings transportUsage="Always" />
                </binding>
            </netHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ProductService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductService" contract="ProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
            <endpoint address="ws://localhost/OrderService" binding="netHttpBinding"
                bindingConfiguration="NetHttpBinding_IOrderService" contract="OrderService.IOrderService"
                name="NetHttpBinding_IOrderService" />
        </client>
    </system.serviceModel>
</configuration>