<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="http" maxReceivedMessageSize="2147483647"/>
            </netHttpBinding>
          <netTcpBinding>
            <binding name="tcp" maxReceivedMessageSize="2147483647"/>
          </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:802/service/products.svc" binding="netHttpBinding"
                bindingConfiguration="http" contract="ProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:802/service/orders.svc" binding="netHttpBinding"
                bindingConfiguration="http" contract="OrderService.IOrderService"
                name="NetHttpBinding_IOrderService" />-->
            <endpoint address="http://localhost:809/winsvc/northwind/products" binding="netHttpBinding"
                bindingConfiguration="http" contract="ProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:809/winsvc/northwind/orders" binding="netHttpBinding"
                bindingConfiguration="http" contract="OrderService.IOrderService"
                name="NetHttpBinding_IOrderService" />
          <!--<endpoint address="net.tcp://localhost:12345/service/products.svc" binding="netTcpBinding"
                bindingConfiguration="tcp" contract="ProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
          <endpoint address="net.tcp://localhost:12345/service/orders.svc" binding="netTcpBinding"
              bindingConfiguration="tcp" contract="OrderService.IOrderService"
              name="NetHttpBinding_IOrderService" />-->
              <!--<endpoint address="net.tcp://localhost:15432/winsvc/northwind/products" binding="netTcpBinding"
                bindingConfiguration="tcp" contract="ProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
          <endpoint address="net.tcp://localhost:15432/winsvc/northwind/orders" binding="netTcpBinding"
              bindingConfiguration="tcp" contract="OrderService.IOrderService"
              name="NetHttpBinding_IOrderService" />-->
        </client>
    </system.serviceModel>
</configuration>