<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="net0" maxReceivedMessageSize="2147483647" messageEncoding="Text" />
        <binding name="StreamBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Binary" />
      </netHttpBinding>
      <netTcpBinding>
        <binding name="net0" maxReceivedMessageSize="2147483647" />
        <binding name="StreamBinding" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="b1" name="NorthwindServiceLibrary.Services.OrderService">
        <endpoint binding="netHttpBinding" bindingConfiguration="net0" contract="NorthwindServiceLibrary.Contracts.IOrderService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="net0" contract="NorthwindServiceLibrary.Contracts.IOrderService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:809/northwindwindowsservice/orders" />
            <add baseAddress="net.tcp://localhost:13579/northwindwindowsservice/orders" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="b1" name="NorthwindServiceLibrary.Services.ProductService">
        <endpoint binding="netHttpBinding" bindingConfiguration="net0" contract="NorthwindServiceLibrary.Contracts.IProductService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="net0" contract="NorthwindServiceLibrary.Contracts.IProductService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:809/northwindwindowsservice/products" />
            <add baseAddress="net.tcp://localhost:13579/northwindwindowsservice/products" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="b1" name="NorthwindServiceLibrary.Services.CategoryService">
        <endpoint binding="netHttpBinding" bindingConfiguration="StreamBinding" contract="NorthwindServiceLibrary.Contracts.ICategoryService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="StreamBinding" address="categories" contract="NorthwindServiceLibrary.Contracts.ICategoryService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:809/northwindwindowsservice/categories" />
            <add baseAddress="net.tcp://localhost:13579/northwindwindowsservice/categories" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="b1">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="Northwind" connectionString="data source=.;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>