<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Во время развертывания проекта библиотеки служб содержимое файла конфигурации необходимо добавить к файлу 
  app.config на узле. Файлы конфигурации для библиотек не поддерживаются System.Configuration. -->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic0" maxReceivedMessageSize="2147483647" messageEncoding="Text" />
        <binding name="StreamBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
            sendTimeout="00:10:00" maxBufferPoolSize="5242880" maxReceivedMessageSize="65536000000"
            transferMode="Streamed" />
      </basicHttpBinding>
      <netHttpBinding>
        <binding name="net0" maxReceivedMessageSize="2147483647" messageEncoding="Text"/>
        <binding name="StreamBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
            sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            transferMode="Streamed" messageEncoding="Binary" />
      </netHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="b1" name="NorthwindServiceLibrary.Services.OrderService">
        <endpoint binding="netHttpBinding" bindingConfiguration="net0"
          contract="NorthwindServiceLibrary.Contracts.IOrderService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/OrderService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="b1" name="NorthwindServiceLibrary.Services.ProductService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basic0"
          contract="NorthwindServiceLibrary.Contracts.IProductService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ProductService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="b1" name="NorthwindServiceLibrary.Services.CategoryService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="StreamBinding"
          contract="NorthwindServiceLibrary.Contracts.ICategoryService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/CategoryService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="b1">
          ~1~Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующим параметрам значение "false".@1@
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          ~1~ Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении @1@
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Northwind" connectionString="data source=.;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>